{{define "signin"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Signin</title>
    </head>
    <body>
        <form method="post">
            <input type="email" name="email"><br>
            <input type="password" name="password"><br>
            <label for="li">Loggin In</label>
            <input type="checkbox" id="li" name="loggedin"><br>
            <input type="submit">
        </form>
        <a href="/signup">Signup</a>
    </body>
</html>
{{end}}